# asgiref
# certifi
# cloudinary
# crispy-bootstrap5
# distlib
# dj-database-url
# Django
# django-crispy-forms
# django-environ
# filelock
# Pillow
# pip-chill
# pipenv
# platformdirs
# protobuf
# psycopg2-binary
# setuptools
# six
# sqlparse
# typing_extensions
# tzdata
# urllib3
# virtualenv

argcomplete
asgiref
Babel
bcrypt
blinker

certifi
cffi
chardet
click
colorama

crispy-bootstrap5
cryptography
cupshelpers
dbus-python
defer
distlib
distro
distro-info
dj-database-url
Django
django-crispy-forms
django-email
django-environ
duplicity
EasyProcess
entrypoint2
fasteners
filelock
freetype-py
future
ghp-import
gyp
httplib2
idna
importlib-metadata
iniconfig
jaraco.classes
jeepney
Jinja2
joblib
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
livereload
lockfile
louis
lunr
Mako
Markdown
markdown-it-py
MarkupSafe
mdurl
mergedeep
mkdocs
monotonic
more-itertools
MouseInfo
mss
netifaces
nltk
numpy
oauthlib
olefile
packaging
paramiko
pexpect
Pillow
pipenv
pipx
platformdirs
pluggy
psutil
psycopg2-binary
ptyprocess
PyAutoGUI
pycairo
pycparser
pycups
PyGetWindow
Pygments
PyGObject
pyinotify
PyJWT
PyMsgBox
PyNaCl
pyparsing
pyperclip
PyRect
pyscreenshot
PyScreeze
pytest
python-apt
python-dateutil
python-debian
python3-xlib
pytweening
pytz
pyxdg
PyYAML
pyyaml_env_tag
regex
reportlab
requests
rich
rlPyCairo
SecretStorage
simplejson
six
sqlparse
ssh-import-id
systemd-python
tornado
tqdm
typing_extensions
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
usb-creator
userpath
virtualenv
virtualenv-clone
wadllib
watchdog
xdg
xkit
zipp
